---
import config from "@/config/config.json";

const {
  call_to_action: {
    title,
    description,
    button: { label, link },
  },
} = config;
---

<section class="px-5 py-20 xl:py-[120px]">
  <div class="container">
    <div
      class="bg-gradient row justify-center rounded-b-[80px] rounded-t-[20px] px-[20px] pb-[50px] pt-16"
    >
      <div class="lg:col-11">
        <div class="row">
          <div class="lg:col-7">
            <h2 class="h1 text-white">{title}</h2>
            <a class="btn btn-white mt-8" href={link}>{label}</a>
          </div>
          <div class="mt-8 lg:col-5 lg:mt-0 text-justify">
            <p class="inline-block text-white text-sm mb-4">
              智转数改的过程首先是企业高层学习与改变认知的开始，</br>所谓一把手工程实际是认知的落地，让认知深入毛细血管。
            </p>
            <p class="inline-block text-white text-sm mb-4">
              智转数改是一个庞大的课题，要做好整体规划，分步实施，避免未来重复建设或者推倒重来；流程标准化是先固化再优化，借鉴成功案例，吸收引进好的管理理念，做适合企业的规划，不过时且不要太超前是很有必要的；
            </p>
            <p class="inline-block text-white text-sm">
              智转数改是产品是服务也是工业品，试错成本太大，记住“成功”是最优先的标准，选择专业的且值得信任的长期合作伙伴是第一要务。
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
