---
import Base from "@/layouts/Base.astro";
import Banner from "@/layouts/components/Banner.astro";
import KeyFeatures from "@/layouts/components/KeyFeatures.astro";
import Testimonial from "@/layouts/components/Testimonial.astro";
import Service from "@/layouts/components/Service.astro";
import Cta from "@/layouts/partials/Cta.astro";
import { getEntryBySlug } from "astro:content";
import { Image } from "astro:assets";

const homepage = await getEntryBySlug("homepage", "index");
const { banner, key_features, service, testimonial } = homepage.data;
---

<Base>
  <!-- banner -->
  <Banner banner={banner} />

  <section class="section">
    <div class="container grid grid-cols-12 gap-2">
      <div class="col-span-5">
        <Image
          class="w-full object-contain rounded-xl"
          alt="service"
          width={1}
          height={1}
          src="/images/hgweb/金字塔.png"
        />
      </div>
      <div class="col-span-7">
        <div class="ml-8">
          <h2 class="lg:text-4xl">数字化转型</h2>
          <p class="mt-4 text-justify">
            国家层面从2015年开始推进中国智能制造2025计划，后续一直在智能制造专项资金，政策引导和监管以及地方政府支持等各个方面有个非常多的行动，其核心目标是推动中国从制造大国向制造强国转变，重点发展智能制造、绿色制造和高端制造等领域。
          </p>
          <p class="mt-4 text-justify">
            企业需要充分的认识到这个战略转变的含义，给自己的企业未来一个准确的定位；智转数改有两个核心价值，<strong
              >一是提升企业核心竞争力（硬实力）</strong
            >，提高企业管理水平：比如实现人管到机管，提升经济效益：降本增效优质的精益求精，比如岗位绩效；<strong
              >二是触动人性灵魂与企业文化的变革（软实力）</strong
            >，首先是路径转变，让基于人工经验和传统工艺、手工操作的方式的决策和操作转变为注重数据驱动的决策和依赖自动化流程；其次是充分利用系统，做到信息在系统中共享、流程在系统中贯通、业务在系统中协同、资源在系统中利用、权力在系统中受控、知识在系统中传承；最后是形成数字闭环：建设数字工厂-认知与观念转变-全员参与-利用平台（积极改善、场景创新）-提升竞争力-持续数字化之路；
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container bg-gray-100 p-10 rounded-3xl">
      <p class="mt-4 text-justify leading-relaxed text-sm">
        中国是制造业大国，近十年来，制造企业信息化发展迅速，ERP系统广泛应用于中国制造企业，随着企业信息化的不断深入，人们发现ERP系统不能解决大型制造企业的复杂生产管理问题，因此难以实现企业生产效率的提升，同时没有底层生产物流数据的支撑，ERP系统数据只能依靠人工录入解决，准确性和实时性无法得到保证，另一方面，PLC/DCS数控系统已广泛存在于制造企业的控制领域，实现了制造过程的自动化，但是这些自动化系统只是局部优化的一个又一个的孤岛。生产执行管理，还是依靠人工纸张电话等落后方式进行，企业迫切需要建立全局生产执行系统，将这些局部的系统串联起来，上层ERP信息化系统和底层自动化系统出现了巨大的鸿沟。
      </p>
      <p class="mt-4 text-justify leading-relaxed text-sm">
        上世纪末解决这个问题的MES（Manufacturing Execution
        System）系统应运而生，MES系统是面向企业生产管理的新一代信息系统，它以提高生产效率，提升产品质量，降低生产成本，缩短交货期，改善客户服务为目标，运用计算机信息化手段管理和优化全局生产流程，实现从产品订单开始，指导产品交付的整个生产管理流程自动化，MES是智能制造的核心，有了MES系统企业，可以实现生产全线自动化，有了MES系统，下层自动化系统和上层ERP系统就能实现无缝的集成，MES系统是企业信息化系统的重要组成部分，为我国企业信息化水平的提高，企业整体运营效率的提升，发挥巨大的作用。
      </p>
      <p class="mt-4 text-justify leading-relaxed text-sm">
        按照国际MES学会的定义，MES系统包含订单管理、生产计划排程、产线物流跟踪、生产调度，质量管理、库存管理、设备管理、过程监控、统计分析、数据采集、人工管理等11项功能。公司自2004年开始引进研究韩国浦项MES技术，形成了自己的主打MES产品以及周边配套系统产品，主要包含营销管理系统、生产执行MES系统、能源管理EMS系统、物流储运LES系统、计量与检化验系统、L2.5数采与控制系统，特别适合于冶金、有色、造纸、制药、烟草、汽车、轻纺、化工等各种制造企业生产现代化。
      </p>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h2 class="lg:text-4xl text-center">产品与服务</h2>
      <div class="flex space-x-4 mt-8">
        <div
          class="flex flex-col items-center w-1/6 p-4 bg-white shadow-lg rounded-2xl"
        >
          <img
            src="/images/hgweb/products/装配.svg"
            alt="图片1"
            class="w-10 h-10 object-cover mb-2"
          />
          <h3 class="text-lg font-semibold">生产执行MES系统</h3>
        </div>
        <div
          class="flex flex-col items-center w-1/6 p-4 bg-white shadow-lg rounded-2xl"
        >
          <img
            src="/images/hgweb/products/销售.svg"
            alt="图片2"
            class="w-10 h-10 object-cover mb-2"
          />
          <h3 class="text-lg font-semibold">产销一体化系统</h3>
        </div>
        <div
          class="flex flex-col items-center w-1/6 p-4 bg-white shadow-lg rounded-2xl"
        >
          <img
            src="/images/hgweb/products/实验室.svg"
            alt="图片3"
            class="w-10 h-10 object-cover mb-2"
          />
          <h3 class="text-lg font-semibold">计量与检化验系统</h3>
        </div>
        <div
          class="flex flex-col items-center w-1/6 p-4 bg-white shadow-lg rounded-2xl"
        >
          <img
            src="/images/hgweb/products/能源.svg"
            alt="图片4"
            class="w-10 h-10 object-cover mb-2"
          />
          <h3 class="text-lg font-semibold">能源管理EMS系统</h3>
        </div>
        <div
          class="flex flex-col items-center w-1/6 p-4 bg-white shadow-lg rounded-2xl"
        >
          <img
            src="/images/hgweb/products/设备.svg"
            alt="图片5"
            class="w-10 h-10 object-cover mb-2"
          />
          <h3 class="text-lg font-semibold">设备管理EAM系统</h3>
        </div>
        <div
          class="flex flex-col items-center w-1/6 p-4 bg-white shadow-lg rounded-2xl"
        >
          <img
            src="/images/hgweb/products/数采.svg"
            alt="图片5"
            class="w-10 h-10 object-cover mb-2"
          />
          <h3 class="text-lg font-semibold">数采平台RL2.5</h3>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container bg-gray-100 p-10 rounded-3xl hover:shadow-lg">
      <h2 class="lg:text-4xl">冶铸轧MES系统</h2>
      <p class="mt-4 text-justify leading-relaxed text-sm">
        我公司在引进消化韩国浦项MES技术的基础上，结合中国钢铁企业、有色企业国情，专为这些企业冶炼、铸造、轧制生产管理开发的管理信息系统产品。系统可以实现冶铸轧生产从订单接收、质量设计、要料设计、炉次/浇次/轧次作业计划、物流跟踪、库存管理，一直到发货质保的产销一体化全流程管理，技术水平世界先进（钢协鉴定评语）。RMES系统已经在山东济南钢铁集团、福建三明钢铁集团、山西临汾钢铁集团、江苏淮钢集团等多家企业成功投运，成果显著。生产管理水平发生翻天覆地的变化。
      </p>
      <p class="mt-4 text-justify leading-relaxed text-sm">
        冶铸轧MES系统以提高企业核心竞争力为战略目的，依托管理信息化和工业自动化充分融合，精细化管理炼钢轧钢生产过程，打通L1/L2/L3/L4，实现全数字化产线，结合岗位绩效规则，在库存、产能、成本方面优化平衡，最终达到“产能最大化、库存最小化、成本最优化”。
      </p>
      <p class="mt-4 text-justify leading-relaxed text-sm">
        铁区MES系统专为中国钢铁企业铁区生产开发的MES系统。钢铁企业生产成本的60%发生在铁区，RIMES系统可以实现从原料进场开始，一直到铁水调度的整个铁区全面一体化集中管控，
        实现配料、烧结、焦化、炼铁的精细化物流跟踪与质量跟踪，实现铁区原料计划、生产计划与配料计划的一体化管理，从而实现铁区生产管理的精细化与配料优化，达成进一步降低生产成本的目标。目前RIMES已经在福建三明钢铁集团成功投运，成效显著，并推广到攀钢集团西昌钢铁、安阳钢铁、南京钢铁、宣化钢铁、沙钢集团等多家钢铁企业。
      </p>
      <div class="grid grid-cols-3 gap-6 mt-8">
        <div
          class="flex flex-col items-center p-4 bg-white shadow-lg rounded-lg"
        >
          <img
            src="/images/hgweb/product-y/RMES01.jpg"
            alt="图片1"
            class="object-cover mb-2 rounded"
          />
          <h3 class="text-lg font-semibold">MES架构图</h3>
        </div>
        <div
          class="flex flex-col items-center p-4 bg-white shadow-lg rounded-lg"
        >
          <img
            src="/images/hgweb/product-y/RMES02.jpg"
            alt="图片2"
            class="object-cover mb-2 rounded"
          />
          <h3 class="text-lg font-semibold">转炉工序作业</h3>
        </div>
        <div
          class="flex flex-col items-center p-4 bg-white shadow-lg rounded-lg"
        >
          <img
            src="/images/hgweb/product-y/RMES03.jpg"
            alt="图片3"
            class="object-cover mb-2 rounded"
          />
          <h3 class="text-lg font-semibold">高级计划排产APS</h3>
        </div>
        <div
          class="flex flex-col items-center p-4 bg-white shadow-lg rounded-lg"
        >
          <img
            src="/images/hgweb/product-y/TMES01.jpg"
            alt="图片4"
            class="object-cover mb-2 rounded"
          />
          <h3 class="text-lg font-semibold">铁区业务流程</h3>
        </div>
        <div
          class="flex flex-col items-center p-4 bg-white shadow-lg rounded-lg"
        >
          <img
            src="/images/hgweb/product-y/TMES02.jpg"
            alt="图片5"
            class="object-cover mb-2 rounded"
          />
          <h3 class="text-lg font-semibold">铁区MES架构</h3>
        </div>
        <div
          class="flex flex-col items-center p-4 bg-white shadow-lg rounded-lg"
        >
          <img
            src="/images/hgweb/product-y/TMES03.jpg"
            alt="图片6"
            class="object-cover mb-2 rounded"
          />
          <h3 class="text-lg font-semibold">铁区MES功能图</h3>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container bg-gray-100 p-10 rounded-3xl hover:shadow-lg">
      <h2 class="lg:text-4xl">纸业MES系统</h2>
      <p class="mt-4 text-justify leading-relaxed text-sm">
        简称RPP-MES(Redvalley Pulp&Paper
        MES)，包含三个原型产品，其中浆MES覆盖浆生产作业流程，又可兼容能源、化药的多种业务流程，也能体现出浆生产的复杂性，其功能包括：计划管理、质量管理、作业管理、原料管理、成品管理、生产报工管理；Paper-MES系统从严格意义来讲应该划分为工文纸和文化纸，Paper生产是造纸行业中最核心的生产单元。前段包括辅料段、备浆段、纸机段、复卷段；后端包括小复卷段、卷筒包装段、裁切段、整理车间段、平板包装段和中仓管理。其功能包括：销售计划管理、生产计划管理、质量管理、作业管理、原料管理、成品管理、生产报工管理。Tissue-MES系统与Paper-MES系统在生产前段有很大的相似处，销售计划、生产计划、整理加工段属于个性化管理，既存在着生产制造业的管理模式，也包含了快消品的订单转换模式，计划执行周期段、且不稳定、变数较多，对销售订单下发、生产线管理及库存发货都有着严格的时间要求，其功能包括：销售计划管理、生产计划管理、质量管理、作业管理、原料管理、成品管理、生产报工管理。RPP-MES系统已经在全球最大纸业集团-金光纸业投运成功。
      </p>
      <div class="grid grid-cols-3 gap-6 mt-8">
        <div
          class="flex flex-col items-center p-4 bg-white shadow-lg rounded-lg"
        >
          <img
            src="/images/hgweb/product-y/ZMES01.jpg"
            alt="图片1"
            class="object-cover mb-2 rounded"
          />
          <h3 class="text-lg font-semibold">纸业MES架构图</h3>
        </div>
        <div
          class="flex flex-col items-center p-4 bg-white shadow-lg rounded-lg"
        >
          <img
            src="/images/hgweb/product-y/ZMES02.jpg"
            alt="图片2"
            class="object-cover mb-2 rounded"
          />
          <h3 class="text-lg font-semibold">金光纸业MES案例</h3>
        </div>
        <div
          class="flex flex-col items-center p-4 bg-white shadow-lg rounded-lg"
        >
          <img
            src="/images/hgweb/product-y/ZMES03.jpg"
            alt="图片3"
            class="object-cover mb-2 rounded"
          />
          <h3 class="text-lg font-semibold">纸业MES规划</h3>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div
        class="bg-gradient-to-br from-yellow-100 to-blue-100 p-6 rounded-3xl hover:shadow-lg"
      >
        <div class="grid grid-cols-3 gap-4">
          <div class="flex flex-col p-4">
            <h3 class="text-yellow-900 text-lg font-semibold">
              数采与过程跟踪系统RL2.5
            </h3>
            <p
              class="text-yellow-900 text-sm text-justify leading-relaxed mt-4"
            >
              <strong>数采与过程跟踪系统</strong
              >是MES数据不落地的重要组成部分。智能制造发展到今天，很多企业信息化系统、自动化系统均十分完备，
              然而，由于各个自动化系统和信息化系统建设的不同步，造成了自动化和信息化“两张皮”局面，信息化系统数据大量人工录入，
              自动化和信息化的融合成为智能制造的技术难关。为解决这个难题，数据采集系统以实时数据库系统技术、智能通讯网关技术为手段，
              可实现对工业现场各厂家PLC、DCS、SCADA、工控机等的直接<strong
                >数据采集</strong
              >，并进行<strong>逻辑处理与业务&物流匹配(L2.5)</strong>，
              从而保证对上层MES系统的数据支撑；同时把MES的作业指示信息下传各自动化系统执行。
            </p>
            <img
              src="/images/hgweb/product-y/RL25.png"
              alt="图片1"
              class="object-cover mt-2 rounded-lg"
            />
          </div>
          <div class="flex flex-col p-4">
            <h3 class="text-green-900 text-lg font-semibold">
              能源管理EMS系统
            </h3>
            <p class="text-green-900 text-sm text-justify leading-relaxed mt-4">
              <strong>能源管理EMS系统</strong>功能主要包括<strong
                >能源综合监控/调度、能源信息管理、能源需求平衡和能源成本分析</strong
              >。
              能源综合监控是基础能源过程的监视与报警，分为供配电、动力、水道、环保等子系统监控，并具有相应的报警和趋势功能，
              并在此平台基础上完成能源调度工作；能源信息管理则包括能源计划管理、
              能源质量管理、能源成本管理等功能模块，管理人员借此平台完成常规的能源统计分析及管理工作。能源数据集成平台依托能源网络完成数据采集过程，
              依托实时数据库以及采集网关，为能源综合过程监控和能源信息管理提供基础数据。作为基础自动化级的能源设备控制系统则是能源管理系统的基础。
            </p>
            <img
              src="/images/hgweb/product-y/EMS01-1.png"
              alt="图片1"
              class="object-cover mt-2 rounded-lg"
            />
          </div>
          <div class="flex flex-col p-4">
            <h3 class="text-blue-900 text-lg font-semibold">设备管理EAM系统</h3>
            <p class="text-blue-900 text-sm text-justify leading-relaxed mt-4">
              <strong>设备管理</strong
              >是针对设备的整个生命周期的一套管理体系，主要分为前期，中期和后期。设备前期管理主要涉及设备的选型、设计、制造、购置、安装调试、
              验收等各项工作。中期的设备管理核心内容如下：维修技术标准、点检标准、作业标准等。设备管理的后期，主要的管理目标是让设备在最后发挥余热，
              能拆的拆，能卖的卖。
            </p>
            <p class="text-blue-800 text-sm text-justify leading-relaxed mt-4">
              <strong>智慧点巡检</strong
              >以精简的人力落实管理，点巡检系统采先进行动应用装置如巡检器、智能型手机、与RFID、GPS、二维码、蓝牙等技术，
              让管理者预先规划的路线及任务项目，缩短巡检作业时间，以有效控管及落实人员确实到位检查、保养及检修校正，有效降低漏检率；此外，并透过巡检系统
              ，管理者可实时掌控设备动态，降低设备异常风险产生机率与处理成本，提高异常处置率；另同时提供各设备巡检数据的趋势分析，
              以达到预知保养及校正之管理效益。 点检人员需确实到位感应 RFID
              标签，可有效落实巡检人员到位管理。巡查路线、设备、时间、检查项目、检查基准等信息已经事先输入系统，点检人员仅需依指示进行点检。
              透过管理平台设定每一设备限值，点检人员抄表时可马上自动判读数值是否异常，实时处理与反应，减低人员依经验判断误差的可能性。
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div
        class="relative w-full bg-cover bg-center rounded-3xl hover:shadow-lg"
        style="background-image: url('/images/hgweb/neve-web-design-bg-14.jpg');"
      >
        <div
          class="absolute inset-0 bg-black bg-opacity-60 rounded-3xl hover:shadow-lg"
        >
        </div>
        <div class="relative z-10 flex items-center justify-center h-full">
          <div class="flex flex-col p-8">
            <h1 class="text-white text-2xl font-bold text-center">
              聚焦、坚持！积累、沉淀！
            </h1>
            <p class="text-white text-center text-sm mt-4">
              “
              坚持不懈的在熟悉的领域深耕细作，着力优势产品与服务，最终发展成为中国最大的智慧工厂提供商
              ”
            </p>
            <h1 class="text-white text-4xl font-bold text-center mt-8">
              客户与案例
            </h1>
            <p class="text-white text-center text-sm mt-4">
              近二十年来我们积累了70多个项目案例，行业以钢铁为主，同时覆盖造纸和生物科技行业。项目案例主要为铁区MES系统、
              钢轧MES系统、浆纸MES、物流LES系统、远程计量系统、检化验系统、能源管理系统，从产线上看可以覆盖钢铁目前所有的产线类型和造纸所有的产线类型。
            </p>

            <div class="grid grid-cols-6 gap-4 mt-8">
              <div class="flex flex-col items-center">
                <img
                  src="/images/hgweb/customer/HB01.jpg"
                  alt="图片2"
                  class="object-cover mb-2 rounded"
                />
                <span class="text-white text-sm mt-2">金光集团</span>
              </div>
              <div class="flex flex-col items-center">
                <img
                  src="/images/hgweb/customer/HB02.jpg"
                  alt="图片2"
                  class="object-cover mb-2 rounded"
                />
                <span class="text-white text-sm mt-2">沙钢集团</span>
              </div>
              <div class="flex flex-col items-center">
                <img
                  src="/images/hgweb/customer/HB03.jpg"
                  alt="图片2"
                  class="object-cover mb-2 rounded"
                />
                <span class="text-white text-sm mt-2">南京钢铁</span>
              </div>
              <div class="flex flex-col items-center">
                <img
                  src="/images/hgweb/customer/HB04.jpg"
                  alt="图片2"
                  class="object-cover mb-2 rounded"
                />
                <span class="text-white text-sm mt-2">福建三钢</span>
              </div>
              <div class="flex flex-col items-center">
                <img
                  src="/images/hgweb/customer/HB05.jpg"
                  alt="图片2"
                  class="object-cover mb-2 rounded"
                />
                <span class="text-white text-sm mt-2">淮钢特钢</span>
              </div>
              <div class="flex flex-col items-center">
                <img
                  src="/images/hgweb/customer/HB06.jpg"
                  alt="图片2"
                  class="object-cover mb-2 rounded"
                />
                <span class="text-white text-sm mt-2">东北特钢</span>
              </div>
            </div>

            <div
              class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 mt-12 text-white font-bold"
            >
              <span class="leading-6 text-center ml-2 text-sm">
                北京百普赛斯生物科技有限公司
              </span>
              <span class="leading-6 text-center ml-2 text-sm">
                福建三钢闽光股份有限公司
              </span>
              <span class="leading-6 text-center ml-2 text-sm">
                河北沧州中铁装备制造材料有限公司
              </span>
              <span class="leading-6 text-center ml-2 text-sm">
                河北宣化钢铁集团有限责任公司
              </span>
              <span class="leading-6 text-center ml-2 text-sm">
                河北中重冷轧材料有限公司
              </span>
              <span class="leading-6 text-center ml-2 text-sm">
                河南安阳钢铁股份有限公司
              </span>
              <span class="leading-6 text-center ml-2 text-sm">
                江苏常州中天钢铁集团
              </span>
              <span class="leading-6 text-center ml-2 text-sm">
                江苏淮钢特钢股份有限公司
              </span>
              <span class="leading-6 text-center ml-2 text-sm">
                江苏南京钢铁有限公司
              </span>
              <span class="leading-6 text-center ml-2 text-sm">
                江苏沙钢集团有限公司
              </span>
              <span class="leading-6 text-center ml-2 text-sm">
                金光集团（纸业）
              </span>
              <span class="leading-6 text-center ml-2 text-sm">
                浦项爱希谛（北京）科技有限公司
              </span>
              <span class="leading-6 text-center ml-2 text-sm">
                山东济南钢铁股份有限公司
              </span>
              <span class="leading-6 text-center ml-2 text-sm">
                山东日照钢铁有限公司
              </span>
              <span class="leading-6 text-center ml-2 text-sm">
                山西宏达钢铁集团有限公司
              </span>
              <span class="leading-6 text-center ml-2 text-sm">
                山西建邦集团有限公司
              </span>
              <span class="leading-6 text-center ml-2 text-sm">
                河北邢台钢铁有限公司
              </span>
              <span class="leading-6 text-center ml-2 text-sm">
                太原钢铁（集团）有限公司
              </span>
              <span class="leading-6 text-center ml-2 text-sm">
                四川攀钢集团有限公司
              </span>
              <span class="leading-6 text-center ml-2 text-sm">
                唐山东华钢铁集团有限公司
              </span>
              <span class="leading-6 text-center ml-2 text-sm">
                唐山瑞丰钢铁（集团）
              </span>
              <span class="leading-6 text-center ml-2 text-sm">
                新兴铸管集团（阳江）
              </span>
              <span class="leading-6 text-center ml-2 text-sm">
                浙江青山控股集团有限公司
              </span>
              <span class="leading-6 text-center ml-2 text-sm">
                东北特殊钢集团股份有限公司
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- testimonial -->
  <Testimonial testimonial={testimonial} />
  <!-- call to action -->
  <Cta />
</Base>
