--- 
 
---

<section class="section">
  <div class="container bg-gray-100 p-10 rounded-3xl">
    <p class="mt-4 text-justify leading-relaxed text-sm">
      中国是制造业大国，近十年来，制造企业信息化发展迅速，ERP系统广泛应用于中国制造企业，随着企业信息化的不断深入，人们发现ERP系统不能解决大型制造企业的复杂生产管理问题，因此难以实现企业生产效率的提升，同时没有底层生产物流数据的支撑，ERP系统数据只能依靠人工录入解决，准确性和实时性无法得到保证，另一方面，PLC/DCS数控系统已广泛存在于制造企业的控制领域，实现了制造过程的自动化，但是这些自动化系统只是局部优化的一个又一个的孤岛。生产执行管理，还是依靠人工纸张电话等落后方式进行，企业迫切需要建立全局生产执行系统，将这些局部的系统串联起来，上层ERP信息化系统和底层自动化系统出现了巨大的鸿沟。
    </p>
    <p class="mt-4 text-justify leading-relaxed text-sm">
      上世纪末解决这个问题的MES（Manufacturing Execution
      System）系统应运而生，MES系统是面向企业生产管理的新一代信息系统，它以提高生产效率，提升产品质量，降低生产成本，缩短交货期，改善客户服务为目标，运用计算机信息化手段管理和优化全局生产流程，实现从产品订单开始，指导产品交付的整个生产管理流程自动化，MES是智能制造的核心，有了MES系统企业，可以实现生产全线自动化，有了MES系统，下层自动化系统和上层ERP系统就能实现无缝的集成，MES系统是企业信息化系统的重要组成部分，为我国企业信息化水平的提高，企业整体运营效率的提升，发挥巨大的作用。
    </p>
    <p class="mt-4 text-justify leading-relaxed text-sm">
      按照国际MES学会的定义，MES系统包含订单管理、生产计划排程、产线物流跟踪、生产调度，质量管理、库存管理、设备管理、过程监控、统计分析、数据采集、人工管理等11项功能。公司自2004年开始引进研究韩国浦项MES技术，形成了自己的主打MES产品以及周边配套系统产品，主要包含营销管理系统、生产执行MES系统、能源管理EMS系统、物流储运LES系统、计量与检化验系统、L2.5数采与控制系统，特别适合于冶金、有色、造纸、制药、烟草、汽车、轻纺、化工等各种制造企业生产现代化。
    </p>
  </div>
</section>