--- 
 
---

<section class="section">
  <div class="container bg-gray-100 p-10 rounded-3xl hover:shadow-lg">
    <h2 class="lg:text-4xl">纸业MES系统</h2>
    <p class="mt-4 text-justify leading-relaxed text-sm">
      简称RPP-MES(Redvalley Pulp&Paper
      MES)，包含三个原型产品，其中浆MES覆盖浆生产作业流程，又可兼容能源、化药的多种业务流程，也能体现出浆生产的复杂性，其功能包括：计划管理、质量管理、作业管理、原料管理、成品管理、生产报工管理；Paper-MES系统从严格意义来讲应该划分为工文纸和文化纸，Paper生产是造纸行业中最核心的生产单元。前段包括辅料段、备浆段、纸机段、复卷段；后端包括小复卷段、卷筒包装段、裁切段、整理车间段、平板包装段和中仓管理。其功能包括：销售计划管理、生产计划管理、质量管理、作业管理、原料管理、成品管理、生产报工管理。Tissue-MES系统与Paper-MES系统在生产前段有很大的相似处，销售计划、生产计划、整理加工段属于个性化管理，既存在着生产制造业的管理模式，也包含了快消品的订单转换模式，计划执行周期段、且不稳定、变数较多，对销售订单下发、生产线管理及库存发货都有着严格的时间要求，其功能包括：销售计划管理、生产计划管理、质量管理、作业管理、原料管理、成品管理、生产报工管理。RPP-MES系统已经在全球最大纸业集团-金光纸业投运成功。
    </p>
    <div class="grid grid-cols-3 gap-6 mt-8">
      <div
        class="flex flex-col items-center p-4 bg-white shadow-lg rounded-lg"
      >
        <img
          src="/images/hgweb/product-y/ZMES01.jpg"
          alt="图片1"
          class="object-cover mb-2 rounded"
        />
        <h3 class="text-lg font-semibold">纸业MES架构图</h3>
      </div>
      <div
        class="flex flex-col items-center p-4 bg-white shadow-lg rounded-lg"
      >
        <img
          src="/images/hgweb/product-y/ZMES02.jpg"
          alt="图片2"
          class="object-cover mb-2 rounded"
        />
        <h3 class="text-lg font-semibold">金光纸业MES案例</h3>
      </div>
      <div
        class="flex flex-col items-center p-4 bg-white shadow-lg rounded-lg"
      >
        <img
          src="/images/hgweb/product-y/ZMES03.jpg"
          alt="图片3"
          class="object-cover mb-2 rounded"
        />
        <h3 class="text-lg font-semibold">纸业MES规划</h3>
      </div>
    </div>
  </div>
</section>