--- 
 
---

<section class="section">
  <div class="container bg-gray-100 p-10 rounded-3xl hover:shadow-lg">
    <h2 class="lg:text-4xl">冶铸轧MES系统</h2>
    <p class="mt-4 text-justify leading-relaxed text-sm">
      我公司在引进消化韩国浦项MES技术的基础上，结合中国钢铁企业、有色企业国情，专为这些企业冶炼、铸造、轧制生产管理开发的管理信息系统产品。系统可以实现冶铸轧生产从订单接收、质量设计、要料设计、炉次/浇次/轧次作业计划、物流跟踪、库存管理，一直到发货质保的产销一体化全流程管理，技术水平世界先进（钢协鉴定评语）。RMES系统已经在山东济南钢铁集团、福建三明钢铁集团、山西临汾钢铁集团、江苏淮钢集团等多家企业成功投运，成果显著。生产管理水平发生翻天覆地的变化。
    </p>
    <p class="mt-4 text-justify leading-relaxed text-sm">
      冶铸轧MES系统以提高企业核心竞争力为战略目的，依托管理信息化和工业自动化充分融合，精细化管理炼钢轧钢生产过程，打通L1/L2/L3/L4，实现全数字化产线，结合岗位绩效规则，在库存、产能、成本方面优化平衡，最终达到“产能最大化、库存最小化、成本最优化”。
    </p>
    <p class="mt-4 text-justify leading-relaxed text-sm">
      铁区MES系统专为中国钢铁企业铁区生产开发的MES系统。钢铁企业生产成本的60%发生在铁区，RIMES系统可以实现从原料进场开始，一直到铁水调度的整个铁区全面一体化集中管控，
      实现配料、烧结、焦化、炼铁的精细化物流跟踪与质量跟踪，实现铁区原料计划、生产计划与配料计划的一体化管理，从而实现铁区生产管理的精细化与配料优化，达成进一步降低生产成本的目标。目前RIMES已经在福建三明钢铁集团成功投运，成效显著，并推广到攀钢集团西昌钢铁、安阳钢铁、南京钢铁、宣化钢铁、沙钢集团等多家钢铁企业。
    </p>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mt-4">
      <div
        class="flex flex-col items-center p-4 bg-white shadow-lg rounded-lg"
      >
        <img
          src="/images/hgweb/product-y/RMES01.jpg"
          alt="图片1"
          class="object-cover mb-2 rounded"
        />
        <h3 class="text-lg font-semibold">MES架构图</h3>
      </div>
      <div
        class="flex flex-col items-center p-4 bg-white shadow-lg rounded-lg"
      >
        <img
          src="/images/hgweb/product-y/RMES02.jpg"
          alt="图片2"
          class="object-cover mb-2 rounded"
        />
        <h3 class="text-lg font-semibold">转炉工序作业</h3>
      </div>
      <div
        class="flex flex-col items-center p-4 bg-white shadow-lg rounded-lg"
      >
        <img
          src="/images/hgweb/product-y/RMES03.jpg"
          alt="图片3"
          class="object-cover mb-2 rounded"
        />
        <h3 class="text-lg font-semibold">高级计划排产APS</h3>
      </div>
      <div
        class="flex flex-col items-center p-4 bg-white shadow-lg rounded-lg"
      >
        <img
          src="/images/hgweb/product-y/TMES01.jpg"
          alt="图片4"
          class="object-cover mb-2 rounded"
        />
        <h3 class="text-lg font-semibold">铁区业务流程</h3>
      </div>
      <div
        class="flex flex-col items-center p-4 bg-white shadow-lg rounded-lg"
      >
        <img
          src="/images/hgweb/product-y/TMES02.jpg"
          alt="图片5"
          class="object-cover mb-2 rounded"
        />
        <h3 class="text-lg font-semibold">铁区MES架构</h3>
      </div>
      <div
        class="flex flex-col items-center p-4 bg-white shadow-lg rounded-lg"
      >
        <img
          src="/images/hgweb/product-y/TMES03.jpg"
          alt="图片6"
          class="object-cover mb-2 rounded"
        />
        <h3 class="text-lg font-semibold">铁区MES功能图</h3>
      </div>
    </div>
  </div>
</section>