--- 
import { Image } from "astro:assets"; 
---

<section class="section">
  <div class="container grid grid-cols-1 md:grid-cols-12 gap-2">
    <div class="md:col-span-5 mt-4">
        <Image
          class="w-full object-contain rounded-xl"
          alt="service"
          width={1}
          height={1}
          src="/images/hgweb/金字塔.png"
        />
      </div>
      <div class="md:col-span-7">
        <div class="mx-8">
          <h2 class="lg:text-4xl mt-4">数字化转型</h2>
          <p class="mt-4 text-justify">
            国家层面从2015年开始推进中国智能制造2025计划，后续一直在智能制造专项资金，政策引导和监管以及地方政府支持等各个方面有个非常多的行动，其核心目标是推动中国从制造大国向制造强国转变，重点发展智能制造、绿色制造和高端制造等领域。
          </p>
          <p class="mt-4 text-justify">
            企业需要充分的认识到这个战略转变的含义，给自己的企业未来一个准确的定位；智转数改有两个核心价值，<strong
              >一是提升企业核心竞争力（硬实力）</strong
            >，提高企业管理水平：比如实现人管到机管，提升经济效益：降本增效优质的精益求精，比如岗位绩效；<strong
              >二是触动人性灵魂与企业文化的变革（软实力）</strong
            >，首先是路径转变，让基于人工经验和传统工艺、手工操作的方式的决策和操作转变为注重数据驱动的决策和依赖自动化流程；其次是充分利用系统，做到信息在系统中共享、流程在系统中贯通、业务在系统中协同、资源在系统中利用、权力在系统中受控、知识在系统中传承；最后是形成数字闭环：建设数字工厂-认知与观念转变-全员参与-利用平台（积极改善、场景创新）-提升竞争力-持续数字化之路；
          </p>
        </div>
      </div>
    </div>
  </section>