--- 
 
---

<section class="section">
  <div class="container">
    <div
      class="bg-gradient-to-br from-yellow-100 to-blue-100 p-6 rounded-3xl hover:shadow-lg"
    > 
      <div class="grid grid-cols-1 sm:grid-cols-3 gap-4 mt-4"> 
        <div class="flex flex-col p-4">
          <h3 class="text-yellow-900 text-lg font-semibold">
            数采与过程跟踪系统RL2.5
          </h3>
          <p
            class="text-yellow-900 text-sm text-justify leading-relaxed mt-4"
          >
            <strong>数采与过程跟踪系统</strong
            >是MES数据不落地的重要组成部分。智能制造发展到今天，很多企业信息化系统、自动化系统均十分完备，
            然而，由于各个自动化系统和信息化系统建设的不同步，造成了自动化和信息化“两张皮”局面，信息化系统数据大量人工录入，
            自动化和信息化的融合成为智能制造的技术难关。为解决这个难题，数据采集系统以实时数据库系统技术、智能通讯网关技术为手段，
            可实现对工业现场各厂家PLC、DCS、SCADA、工控机等的直接<strong
              >数据采集</strong
            >，并进行<strong>逻辑处理与业务&物流匹配(L2.5)</strong>，
            从而保证对上层MES系统的数据支撑；同时把MES的作业指示信息下传各自动化系统执行。
          </p>
          <img
            src="/images/hgweb/product-y/RL25.png"
            alt="图片1"
            class="object-cover mt-2 rounded-lg"
          />
        </div>
        <div class="flex flex-col p-4">
          <h3 class="text-green-900 text-lg font-semibold">
            能源管理EMS系统
          </h3>
          <p class="text-green-900 text-sm text-justify leading-relaxed mt-4">
            <strong>能源管理EMS系统</strong>功能主要包括<strong
              >能源综合监控/调度、能源信息管理、能源需求平衡和能源成本分析</strong
            >。
            能源综合监控是基础能源过程的监视与报警，分为供配电、动力、水道、环保等子系统监控，并具有相应的报警和趋势功能，
            并在此平台基础上完成能源调度工作；能源信息管理则包括能源计划管理、
            能源质量管理、能源成本管理等功能模块，管理人员借此平台完成常规的能源统计分析及管理工作。能源数据集成平台依托能源网络完成数据采集过程，
            依托实时数据库以及采集网关，为能源综合过程监控和能源信息管理提供基础数据。作为基础自动化级的能源设备控制系统则是能源管理系统的基础。
          </p>
          <img
            src="/images/hgweb/product-y/EMS01-1.png"
            alt="图片1"
            class="object-cover mt-2 rounded-lg"
          />
        </div>
        <div class="flex flex-col p-4">
          <h3 class="text-blue-900 text-lg font-semibold">设备管理EAM系统</h3>
          <p class="text-blue-900 text-sm text-justify leading-relaxed mt-4">
            <strong>设备管理</strong
            >是针对设备的整个生命周期的一套管理体系，主要分为前期，中期和后期。设备前期管理主要涉及设备的选型、设计、制造、购置、安装调试、
            验收等各项工作。中期的设备管理核心内容如下：维修技术标准、点检标准、作业标准等。设备管理的后期，主要的管理目标是让设备在最后发挥余热，
            能拆的拆，能卖的卖。
          </p>
          <p class="text-blue-800 text-sm text-justify leading-relaxed mt-4">
            <strong>智慧点巡检</strong
            >以精简的人力落实管理，点巡检系统采先进行动应用装置如巡检器、智能型手机、与RFID、GPS、二维码、蓝牙等技术，
            让管理者预先规划的路线及任务项目，缩短巡检作业时间，以有效控管及落实人员确实到位检查、保养及检修校正，有效降低漏检率；此外，并透过巡检系统
            ，管理者可实时掌控设备动态，降低设备异常风险产生机率与处理成本，提高异常处置率；另同时提供各设备巡检数据的趋势分析，
            以达到预知保养及校正之管理效益。 点检人员需确实到位感应 RFID
            标签，可有效落实巡检人员到位管理。巡查路线、设备、时间、检查项目、检查基准等信息已经事先输入系统，点检人员仅需依指示进行点检。
            透过管理平台设定每一设备限值，点检人员抄表时可马上自动判读数值是否异常，实时处理与反应，减低人员依经验判断误差的可能性。
          </p>
        </div>
      </div>
    </div>
  </div>
</section>